/* display table data styles */

.dtd_container {
    border-radius: 10px;
    color: white;
    background-color: #2a2d32;
    text-align: center;
    transition: all 0.5s;
}

.dtd_container:hover {
    box-shadow: 0px 0px 100px #5f58e1;
}

.dtd_container th,
td {
    border: solid 1px;
    border-radius: 0px;
    padding: 10px 35px;
}

.dtd_container thead {
    margin: 10px;
}
