/* styles for navigation bar */

.nav_subcontainer_1 {
    display: flex;
    justify-content: space-between;
}

.nav_subcontainer_1 h2 {
    color: #ffffff;
    font-size: 55px;
    font-family: 'Shadows Into Light', cursive;
    margin: 30px 100px;
    text-decoration: none;
}

.nav_subcontainer_1 h2:hover {
    cursor: pointer;
}

.nav_subcontainer_1 a {
    text-decoration: none;
}

.nav_subcontainer_1 h2:visited {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.nav_subcontainer_1 h4 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    margin: 40px 100px;
    border-bottom: solid 2px;
    transition: all 0.5s;
}

.nav_subcontainer_1 h4:hover {
    transform: scale(1.1);
    color: #5f58e1;
    cursor: pointer;
    border-color: #c94d3f;
}

@media screen and (max-width: 600px) {
    .nav_subcontainer_1 {
        justify-content: space-between;
    }
    .nav_subcontainer_1 h2 {
        font-size: 30px;
        margin: 20px 0px 20px 30px;
    }

    .nav_subcontainer_1 h4 {
        color: #ffffff;
        font-size: 30px;
        margin: 20px 30px 20px 0px;
    }
}
