/* styles for schedule */

.sh_container {
    font-family: 'Song Myung', serif;
    overflow: hidden;
}

.sh_subcontainer {
    display: flex;
    justify-content: center;
}

.sh_subcontainer_timetable {
    width: 80%;
    height: 72vh;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.sh_enclosing_container {
    display: flex;
    flex-direction: column;
}

.sh_class {
    margin: 20px 0px 0px 95px;
}

.sh_class h2 {
    font-size: 25px;
}

.sh_btn button {
    margin: 30px 10px 30px 95px;
    padding: 10px 60px;
    background-color: #5f58e1;
    font-family: 'Song Myung', serif;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.5s;
}

.sh_btn button:last-child {
    margin: 30px 0px;
}

.sh_btn button:focus {
    outline: none;
}

.sh_btn button:hover {
    cursor: pointer;
    background-color: #38393d;
}

.sh_class h2 {
    margin: 7px 0px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
    font-size: 35px !important;
}

/* responsive styles */

@media screen and (max-width: 600px) {
    .sh_subcontainer_timetable {
        width: 95%;
        height: 550px;
        margin-bottom: 40px;
    }

    .sh_enclosing_container {
        flex-direction: column;
    }

    .sh_class {
        margin: 20px 0px 0px 0px;
    }

    .sh_class h2 {
        text-align: center;
        font-size: 24px;
    }
    .sh_btn button {
        margin: 30px 10px 30px 15px;
        padding: 10px 35px;
    }
}
